@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");

* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

body:not(.ready) {
  overflow: hidden;

  .app-nav,
  > nav,
  [data-cloak] {
    display: none;
  }
}

div#app {
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center;

  &:empty:before {
    content: "Loading...";
  }
}

img.emoji {
  height: 1.2em;
  vertical-align: middle;
}

span.emoji {
  vertical-align: middle;
  font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 1.2em;
}

.progress {
  background-color: #61dafb;
  background-color: var(--theme-color, #61dafb);
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.2s, opacity 0.4s;
  width: 0;
  z-index: 999999;
}

.search {
  .search-keyword,
  a:hover {
    color: #61dafb;
    color: var(--theme-color, #61dafb);
  }

  .search-keyword {
    font-style: normal;
    font-weight: 700;
  }
}

body,
html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #abb2bf;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

kbd {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}

li input[type="checkbox"] {
  margin: 0 0.2em 0.25em 0;
  vertical-align: middle;
}

.app-nav {
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10;

  &.no-badge {
    margin-right: 25px;
  }

  p {
    margin: 0;
  }

  > a {
    margin: 0 1rem;
    padding: 5px 0;
  }

  li,
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
  }

  a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;

    &.active,
    &:hover {
      color: #61dafb;
      color: var(--theme-color, #61dafb);
    }

    &.active {
      border-bottom: 2px solid #61dafb;
      border-bottom: 2px solid var(--theme-color, #61dafb);
    }
  }

  li {
    display: inline-block;
    margin: 0 1rem;
    padding: 5px 0;
    position: relative;
    cursor: pointer;

    ul {
      background-color: #abb2bf;
      border: 1px solid;
      border-color: #ddd #ddd #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      display: none;
      max-height: calc(100vh - 61px);
      overflow-y: auto;
      padding: 10px 0;
      position: absolute;
      right: -15px;
      text-align: left;
      top: 100%;
      white-space: nowrap;

      li {
        display: block;
        font-size: 14px;
        line-height: 1rem;
        margin: 8px 14px;
        white-space: nowrap;
      }

      a {
        display: block;
        font-size: inherit;
        margin: 0;
        padding: 0;

        &.active {
          border-bottom: 0;
        }
      }
    }

    &:hover ul {
      display: block;
    }
  }
}

.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;

  &:hover .octo-arm {
    animation: octocat-wave 0.56s ease-in-out;
  }

  svg {
    color: #abb2bf;
    fill: #61dafb;
    fill: var(--theme-color, #61dafb);
    height: 80px;
    width: 80px;
  }
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;

  &.hidden {
    display: none;
  }
}

.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;

  span {
    color: #abb2bf;
  }

  &:hover {
    text-decoration: underline;
  }
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  overflow-y: auto;
  padding: 40px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease-out;
  width: 250px;
  z-index: 20;

  > h1 {
    margin: 0 auto 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;
    }

    .app-nav {
      display: block;
      position: static;
    }
  }

  .sidebar-nav {
    line-height: 2em;
    padding-bottom: 40px;
  }

  li.collapse .app-sub-sidebar {
    display: none;
  }

  ul {
    margin: 0 0 0 15px;
    padding: 0;
  }

  li > p {
    font-weight: 700;
    margin: 0;
  }

  ul {
    list-style: none;

    li {
      list-style: none;

      a {
        border-bottom: none;
        display: block;
      }

      ul {
        padding-left: 20px;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 53.3%, 0.4);
    }

    &::-webkit-scrollbar-track {
      background: hsla(0, 0%, 53.3%, 0.1);
    }
  }
}

.sidebar-toggle {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: opacity 0.3s;
  width: 234px;
  z-index: 30;
  cursor: pointer;

  &:hover .sidebar-toggle-button {
    opacity: 0.4;
  }

  span {
    background-color: #61dafb;
    background-color: var(--theme-color, #61dafb);
    display: block;
    margin-bottom: 4px;
    width: 16px;
    height: 2px;
  }
}

body.sticky {
  .sidebar,
  .sidebar-toggle {
    position: fixed;
  }
}

.content {
  padding-top: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
  transition: left 0.25s ease;
}

.markdown-section {
  margin: 0 auto;
  max-width: 80%;
  padding: 30px 15px 40px;
  position: relative;

  > {
    * {
      box-sizing: border-box;
      font-size: inherit;
    }

    :first-child {
      margin-top: 0 !important;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid #3d3f46;
    margin: 2em 0;
  }

  iframe {
    border: 1px solid #eee;
    width: 1px;
    min-width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%;
  }

  th {
    font-weight: 700;
  }

  td,
  th {
    padding: 6px 13px;
  }

  tr {
    border-bottom: 2px solid #3d3f46;
  }

  p {
    &.tip {
      border-bottom-right-radius: 2px;
      border-left: 4px solid #f66;
      border-top-right-radius: 2px;
      margin: 2em 0;
      padding: 12px 24px 12px 30px;
      position: relative;

      &:before {
        background-color: #f66;
        border-radius: 100%;
        color: #abb2bf;
        content: "!";
        font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        left: -12px;
        line-height: 20px;
        position: absolute;
        height: 20px;
        width: 20px;
        text-align: center;
        top: 14px;
      }

      code {
        background-color: #efefef;
      }

      em {
        color: #abb2bf;
      }
    }

    &.warn {
      background: rgba(66, 185, 131, 0.1);
      border-radius: 2px;
      padding: 1rem;
    }
  }

  ul.task-list > li {
    list-style-type: none;
  }
}

body.close {
  .sidebar {
    transform: translateX(-250px);
  }

  .sidebar-toggle {
    width: auto;
  }

  .content {
    left: 0;
  }
}

@media print {
  .app-nav,
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .github-corner,
  .sidebar,
  .sidebar-toggle {
    position: fixed;
  }

  .app-nav {
    margin-top: 16px;

    li ul {
      top: 30px;
    }
  }

  main {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .sidebar {
    left: -250px;
    transition: transform 0.25s ease-out;
  }

  .content {
    left: 0;
    max-width: 100vw;
    position: static;
    padding-top: 20px;
    transition: transform 0.25s ease;
  }

  .app-nav,
  .github-corner {
    transition: transform 0.25s ease-out;
  }

  .sidebar-toggle {
    background-color: transparent;
    width: auto;
    padding: 30px 30px 10px 10px;
  }

  body.close {
    .sidebar {
      transform: translateX(250px);
    }

    .sidebar-toggle {
      transition: background-color 1s;
      width: 234px;
      padding: 10px;
    }

    .content {
      transform: translateX(250px);
    }

    .app-nav,
    .github-corner {
      display: none;
    }
  }

  .github-corner {
    &:hover .octo-arm {
      animation: none;
    }

    .octo-arm {
      animation: octocat-wave 0.56s ease-in-out;
    }
  }
}

@keyframes octocat-wave {
  0%,
  to {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

section.cover {
  position: relative;
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: none;

  &.show {
    display: flex;
  }

  &.has-mask .mask {
    background-color: #abb2bf;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .cover-main {
    flex: 1;
    margin: 0 16px;
    text-align: center;
    position: relative;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    line-height: 1.5rem;
    margin: 1em 0;
  }

  h1 {
    color: inherit;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0.625rem 0 2.5rem;
    position: relative;
    text-align: center;

    a {
      display: block;
    }

    small {
      bottom: -0.4375rem;
      font-size: 1rem;
      position: absolute;
    }
  }

  blockquote {
    font-size: 1.5rem;
    text-align: center;
  }

  ul {
    line-height: 1.8;
    list-style-type: none;
    margin: 1em auto;
    max-width: 500px;
    padding: 0;
  }

  .cover-main > p:last-child a {
    border-radius: 2rem;
    border: 1px solid #61dafb;
    border-color: var(--theme-color, #61dafb);
    box-sizing: border-box;
    color: #61dafb;
    color: var(--theme-color, #61dafb);
    display: inline-block;
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    margin: 0.5rem 1rem;
    padding: 0.75em 2rem;
    text-decoration: none;
    transition: all 0.15s ease;

    &:last-child {
      background-color: #61dafb;
      background-color: var(--theme-color, #61dafb);
      color: #abb2bf;

      &:hover {
        color: inherit;
        opacity: 0.8;
      }
    }

    &:hover {
      color: inherit;
    }
  }

  blockquote > p > a {
    border-bottom: 2px solid #61dafb;
    border-bottom: 2px solid var(--theme-color, #61dafb);
    transition: color 0.3s;

    &:hover {
      color: #61dafb;
      color: var(--theme-color, #61dafb);
    }
  }
}

.sidebar {
  background-color: #21252b;
}

body {
  background-color: #282c33;
}

.sidebar {
  color: #abb2bf;

  li {
    margin: 6px 0;
  }

  ul li {
    a {
      color: #abb2bf;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      padding: 0;
    }

    &.active > a {
      border-right: 2px solid;
      color: #61dafb;
      color: var(--theme-color, #61dafb);
      font-weight: 600;
    }
  }
}

.app-sub-sidebar li:before {
  content: "-";
  padding-right: 4px;
  float: left;
}

.markdown-section {
  h1,
  h2,
  h3,
  h4,
  strong {
    color: #abb2bf;
    font-weight: 600;
  }

  a {
    color: #61dafb;
    color: var(--theme-color, #61dafb);
    font-weight: 600;
  }

  h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
  }

  h2 {
    font-size: 1.75rem;
    margin: 45px 0 0.8rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 40px 0 0.6rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    color: #777;
    font-size: 1rem;
  }

  figure,
  p {
    margin: 1.2em 0;
  }

  ol,
  p,
  ul {
    line-height: 1.6rem;
    word-spacing: 0.05rem;
  }

  ol,
  ul {
    padding-left: 1.5rem;
  }

  blockquote {
    border-left: 4px solid #61dafb;
    border-left: 4px solid var(--theme-color, #61dafb);
    color: #858585;
    margin: 2em 0;
    padding-left: 20px;

    p {
      font-weight: 600;
      margin-left: 0;
    }
  }

  iframe {
    margin: 1em 0;
  }

  em {
    color: #7f8c8d;
  }

  code,
  output:after,
  pre {
    font-family: Roboto Mono, Monaco, courier, monospace;
  }

  code,
  pre {
    background-color: #3e4249;
  }

  output,
  pre {
    margin: 1.2em 0;
    position: relative;
  }

  output,
  pre > code {
    border-radius: 2px;
    display: block;
  }

  output:after,
  pre > code {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
  }

  code {
    border-radius: 2px;
    color: #d6b97c;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: pre-wrap;
  }

  > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
    font-size: 0.8rem;
  }

  pre {
    padding: 0 1.4rem;
    line-height: 1.5rem;
    overflow: auto;
    word-wrap: normal;

    > code {
      color: #abb2bf;
      font-size: 0.8rem;
      padding: 2.2em 5px;
      line-height: inherit;
      margin: 0 2px;
      max-width: inherit;
      overflow: inherit;
      white-space: inherit;
    }
  }

  output {
    padding: 1.7rem 1.4rem;
    border: 1px dotted #ccc;

    > {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  code {
    &:after,
    &:before {
      letter-spacing: 0.05rem;
    }
  }

  output {
    &:after,
    &:before {
      letter-spacing: 0.05rem;
    }

    &:after {
      color: #ccc;
      font-size: 0.6rem;
      font-weight: 600;
      height: 15px;
      line-height: 15px;
      padding: 5px 10px 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      content: attr(data-lang);
    }
  }

  pre:after {
    color: #ccc;
    font-size: 0.6rem;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    content: attr(data-lang);
  }
}

.token {
  &.cdata,
  &.comment,
  &.doctype,
  &.prolog {
    color: #8e908c;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.boolean,
  &.number {
    color: #c76b29;
  }

  &.punctuation {
    color: #525252;
  }

  &.property {
    color: #c08b30;
  }

  &.tag {
    color: #2973b7;
  }

  &.string {
    color: #61dafb;
    color: var(--theme-color, #61dafb);
  }

  &.selector {
    color: #6679cc;
  }

  &.attr-name {
    color: #2973b7;
  }
}

.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}

.token {
  &.entity,
  &.url {
    color: #22a2c9;
  }

  &.attr-value,
  &.control,
  &.directive,
  &.unit {
    color: #61dafb;
    color: var(--theme-color, #61dafb);
  }

  &.function,
  &.keyword {
    color: #d6b97c;
  }

  &.atrule,
  &.regex,
  &.statement {
    color: #22a2c9;
  }

  &.placeholder,
  &.variable {
    color: #3d8fd1;
  }

  &.deleted {
    text-decoration: line-through;
  }

  &.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none;
  }

  &.italic {
    font-style: italic;
  }

  &.bold {
    font-weight: 700;
  }

  &.important {
    font-weight: 700;
    color: #c94922;
  }

  &.entity {
    cursor: help;
  }
}

code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
  position: relative;
  left: auto;
}
